/*margin: 0 auto; - para centralizar todo corpo */
#corpo{
	width: 95%;
	height: auto;
	margin: 0 auto;
	
}
#cabecalho{
	width: 500px;
	height: 130px;
}

#plogo{
	
	text-align:center;
	
}
#imglogo{
	width: 100%;
	height: 130px;
	margin-left:400px;
	
}
/* A position propriedade especifica o tipo de método de posicionamento 
usado para um elemento (estático, relativo, absoluto ou fixo).
Um elemento com position: relative;é posicionado em relação à sua posição normal.

relative - Definir as propriedades superior, direita, inferior e esquerda de um 
elemento relativamente posicionado fará com que ele seja ajustado para 
longe de sua posição normal.*/
#link{
	width: 100%;
	height: 80px;
	position: relative;
}
#meio{
	width: 100%;
	height:auto;
	
}

#rodape{
	width: 100%;
	height: auto;
	
	
}
/* A @media regra é usada em consultas de mídia para aplicar estilos 
diferentes para diferentes tipos / dispositivos de mídia.
Layout responsivo - faz as duas colunas / caixas empilharem sobre
um ao outro em vez de um ao lado do outro, em telas pequenas
max-width: 600px - A largura máxima da área de exibição, 
como uma janela do navegador 
......................................
Uma media query consiste de um media type e pelo menos uma expressão 
que limita o escopo das folhas de estilo usando media features, 
tal como largura, altura e cor. Media queries, adicionadas no CSS3, 
deixam a apresentação do conteúdo adaptado a uma gama especifica de 
dispositivos não precisando mudar o conteúdo em si

all - Padrão. Usado para todos os dispositivos do tipo de mídia
screen - Usado para telas de computador, tablets, smartphones etc.

max-width - A largura máxima da área de exibição, como uma janela do navegador
min-width - A largura mínima da área de exibição, como uma janela do navegador

@media only screen and
*/
@media all and (max-width: 800px) {
	 nav, #corpo, #cabecalho, #plogo, #menu {
		width: 100%;
		height: 0 auto;
		
	  }
	  #imglogo{
		width: 100%;
		height: 0 auto;
		margin-left:0px;
		
		
	  }
	  
	  #rodape{
		width:50%;
		height:100px;
		float:center;
		margin-bottom:300px;
			
	  }
	  #meio{
		  width:100%;
		  height: auto;
		  margin-top:80pt;
		  margin-bottom:1px;
		  
	  }
	  #img2{
		  width:100%;
		  height: 0 auto;
		  margin-left: 0px;
	  }
}





